@model Its.Systems.HR.Interface.Web.ViewModels.FilterSessionsViewModel

@{
    ViewBag.Title = "Lista kurstillfällen";
}

<h2>Lista tillfällen</h2>

@using (Html.BeginForm("FilterSessions", "ActivitySummary", FormMethod.Get))
{
    <div class="well-lg">

        <div class="form-group">
            <label for="SearchString">Namn på tillfälle innehåller</label>
            <div>
                @Html.TextBox("SearchString", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label>År</label>
            <div>
                <input name="yearSlider" id="yearSlider" type="text" class="" value="" data-slider-min="@Model.MinYear" data-slider-max="@Model.MaxYear" data-slider-step="1" data-slider-value="[@Model.YearStart,@Model.YearEnd]" />
            </div>
        </div>

        <div class="form-group">
            <label for="HrPerson">Ansvarig HR</label>
            <div>
                @Html.DropDownListFor(n => n.HrPerson, Model.HrPersons, "-- Välj ev. ansvarig hr --", new { @class = "form-control" })
                @*@Html.DropDownListFor(n => n.Activities, Model.Activities, new { @class = "form-control wide-textbox", onchange = "javascript:getSessions(this.value);", id = "activityDropdown" })*@
            </div>
        </div>

        <div class="form-group">
            <label for="NameOfLocation">Plats</label>
            <div>
                @*@Html.TextBoxFor(n => n.NameOfLocation, new { @class = "form-control ui-autocomplete", @data-autocomplete = "@Url.Action("AutoCompleteLocations", "Home")" })*@
                <input type="text" id="NameOfLocation" name="NameOfLocation" value="@Model.NameOfLocation" class="form-control ui-autocomplete"
                       data-autocomplete="@Url.Action("AutoCompleteLocations", "Activity")" />
                @*@Html.ValidationMessageFor(model => model.NameOfLocation.Id, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div id="exampleWithSlider"></div>

        @*<a href="@Url.Action("Index")" class="btn btn-danger">Återställ</a>*@

        <div class="form-group">
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> Filtrera
            </button>
            @*<a href="@Url.Action("Index")" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove"></i> Avbryt
                </a>*@
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>Namn</th>
        <th>Start</th>
        <th>Slut</th>
        <th>Hr-Person</th>
        <th>Plats</th>
    </tr>

    @foreach (var session in Model.Sessions.OrderBy(n => n.Name))
    {
        <tr>
            <td>
                <a href="@Url.Action("SessionForActivity", "ActivitySummary", new {id = session.Id})">@session.Name</a>
            </td>
            <td>
                @session.StartDate.ToString("dd MMM yyyy HH:mm")
            </td>
            <td>
                @session.EndDate.ToString("dd MMM yyyy HH:mm")
            </td>
            <td>
                @if (session.HrPerson != null)
                {
                    @session.HrPerson.FullName
                }
            </td>
            <td>
                @if (session.Location != null)
                {
                    @session.Location.Name
                }
            </td>
        </tr>
    }

</table>

@section scripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap-slider.min.js"></script>

    <script src="~/Scripts/App/HrHelpers.js"></script>
    <script src="~/Scripts/App/FilterSessions.js"></script>
}