@model Its.Systems.HR.Interface.Web.ViewModels.SessionForActivityViewModel
@*@model Its.Systems.HR.Interface.Web.ViewModels.CreateSessionViewModel*@
@*@model Its.Systems.HR.Interface.Web.ViewModels.SessionPaticipantsViewModel*@
<div class="col-md-12">
    <h2><strong>@Model.SessionName</strong> <a href="@Url.Action("EditSession", "Activity", new {id = Model.SessionId})" class="btn btn-warning">Ändra tillfälle</a> <button class="btn btn-danger">Ta bort tillfälle</button></h2>
</div>


<div class="col-md-6">

    <h3 class="m-b-30">Deltagare</h3>

    <div class="form-group">
        <label for="participantDropdown">Lägg till fler deltagare</label>
        <div>
            @Html.DropDownListFor(model => model.Participants.First().Id, (IEnumerable<SelectListItem>)ViewBag.SessionParticipantId, new { @class = "form-control", id = "participantDropdown", name = "participantDropdown" })

            @Html.ValidationMessageFor(model => model.Participants.First().Id, "", new { @class = "text-danger" })
            <button type="button" class="btn btn-default js-add-sessionParticipant" data-sessionId="@Model.SessionId">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lägg till deltagare
            </button>
        </div>
    </div>

    <div>

    </div>

    <table class="table" id="allSessionsForParticipant">
        @foreach (var participant in Model.Participants)
            {
            <tr>
                <td>
                    @Html.ActionLink(participant.FullName, "Details", "Participant", new { id = participant.Id }, null)
                    <span class="label label-warning listedParticipantRemove js-delete-sessionParticipant" data-sessionId="@Model.SessionId" data-personId="@participant.Id">Ta bort</span>
                </td>
            </tr>
        }

    </table>

    @*TODO: count participants with javascript instead*@
    <em>Totalt antal deltagare: @Model.TotalPaticipants</em>


</div>


<div class="col-md-6">
    <h3 class="m-b-30">Allmän information</h3>
    <div>

        <div class="panel panel-default wide-textbox">
            <div class="panel-body">
                @if (Model.HrPerson != null)
                {
                    <p>Ansvarig HR:  @Model.HrPerson.FullName</p>
                }
                @if (Model.Location != null)
                {
                    <p>Plats: @Model.Location.Name</p>
                    <p>Adress: @Model.Location.Address</p>
                }
                <p>Startdatum: @Model.StartDate.ToString("dd MMM yyyy HH:mm")</p>
                <p>Slutdatum: @Model.EndDate.ToString("dd MMM yyyy HH:mm")</p>
            </div>
        </div>

        <div class="form-group">
            <label for="Comments" class="control-label">Kommentarer</label>
            <div>
                @Html.TextAreaFor(n => n.Comments, 10, 40, new { @class = "form-control commentsWishes" })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                <button type="button" class="btn btn-default js-save-sessionComment" data-sessionId="@Model.SessionId">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Spara kommentar
                </button>
            </div>
        </div>

        <div class="form-group">
            <label for="Evaluation" class="control-label">Utvärdering</label>
            <div>
                @Html.TextAreaFor(n => n.Evaluation, 10, 40, new { @class = "form-control commentsWishes" })
                @Html.ValidationMessageFor(model => model.Evaluation, "", new { @class = "text-danger" })
                <button type="button" class="btn btn-default js-save-sessionEvaluation" data-sessionId="@Model.SessionId">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Spara Utvärdering
                </button>
            </div>
        </div>

    </div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {

            $(".js-add-sessionParticipant").click(function (e) {
                var link = $(e.target);
                var personId = $("#participantDropdown").val();

                $.ajax({
                    url: "@Url.Action("AddPersonToSessionFromActivitySummary", "Activity")",
                    type: "POST",
                    data: { sessionId: link.attr("data-sessionId"), personId: personId },
                    success: function (result) {
                        if (result.Success) {
                            //<span class="label label-warning listedParticipantRemove js-delete-sessionParticipant" data-sessionid="10" data-personid="1">Ta bort</span>
                            //<a href="/HrKompetensutveckling/Participant/Details/1">Madawa Abeywickrama</a>
                            var html = '<tr><td><a href="/HrKompetensutveckling/Participant/Details/' + result.PersonId + '">' + result.PersonFullName + '</a><span> </span><span class="label label-warning listedParticipantRemove js-delete-sessionParticipant" data-sessionid="' + result.SessionId + '" data-personId="' + result.PersonId + '">Ta bort</span></tr></td>';
                            $(html).hide().appendTo("#allSessionsForParticipant").fadeIn();

                            @*$.ajax({
                                url: "@Url.Action("ParticipantStatisticSummary", "Participant")",
                                type: "GET",
                                data: { personId: link.attr("data-personId") },
                                success: function (result2) {
                                    $("#statisticsSummary").html(result2);
                                },
                                error: function () {
                                    alert("Anropet misslyckades, prova gärna igen.");
                                }
                            });*@

                        } else {
                            link.after(' <div class="alert alert-danger js-fadeOutThisMessage" role="alert">Personen redan tillagd!</div>');

                            $(".js-fadeOutThisMessage").fadeOut(2000, function () {
                                $(this).remove();
                            });
                        }
                    }
                });
            });

            $("body").on("click", ".js-delete-sessionParticipant", function (e) {
                var link = $(e.target);


                bootbox.confirm({
                    title: "Vänligen bekräfta",
                    message: "Vill du verkligen ta bort denna person för detta tillfälle?",
                    buttons: {
                        cancel: {
                            label: '<i class="glyphicon glyphicon-remove"></i> Avbryt'
                        },
                        confirm: {
                            label: '<i class="glyphicon glyphicon-ok"></i> Ta bort',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "@Url.Action("RemovePersonFromSession", "Activity")",
                                type: "POST",
                                data: { sessionId: link.attr("data-sessionId"), personId: link.attr("data-personId") },
                                success: function () {
                                    link.parents("tr")
                                        .fadeOut(function () {
                                            $(this).remove();

                                            @*$.ajax({
                                                url: "@Url.Action("ParticipantStatisticSummary", "Participant")",
                                                type: "GET",
                                                data: { personId: link.attr("data-personId") },
                                                success: function (result2) {
                                                    $("#statisticsSummary").html(result2);
                                                },
                                                error: function () {
                                                    alert("Anropet misslyckades, prova gärna igen.");
                                                }
                                            });*@
                                        });
                                },
                                error: function () {
                                    alert("Anropet misslyckades, prova gärna igen.");
                                }
                            });
                        }
                    }
                });

            });


            //$(document).ready(function () {


            $("body").on("click", ".js-save-sessionComment", function (e) {
                var link = $(e.target);
                var comments = $("#Comments").val();

                $.ajax({
                    url: "@Url.Action("SaveSessionComments", "ActivitySummary")",
                    type: "POST",
                    data: { sessionId: link.attr("data-sessionId"), comments: comments },
                    success: function () {
                        link.after(' <span class="alert alert-success js-fadeOutThisMessage" role="alert">Kommentarer sparade!</span>');

                        $(".js-fadeOutThisMessage").fadeOut(2000, function () {
                            $(this).remove();
                        });
                    },
                    error: function () {
                        alert("Anropet misslyckades, prova gärna igen.");
                    }
                });
            });


            $("body").on("click", ".js-save-sessionEvaluation", function (e) {
                var link = $(e.target);
                var evaluation = $("#Evaluation").val();

                $.ajax({
                    url: "@Url.Action("SaveSessionEvaluation", "ActivitySummary")",
                    type: "POST",
                    data: { sessionId: link.attr("data-sessionId"), evaluation: evaluation },
                    success: function () {
                        link.after(' <span class="alert alert-success js-fadeOutThisMessage" role="alert">Utvärdering sparade!</span>');

                        $(".js-fadeOutThisMessage").fadeOut(2000, function () {
                            $(this).remove();
                        });
                    },
                    error: function () {
                        alert("Anropet misslyckades, prova gärna igen.");
                    }
                });
            });

        });
    </script>
}


