@if (User.IsInRole("Admin"))
{
    //SHOW FULL MENU
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skapa<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Aktivitet", "CreateActivity", "Activity")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Tillfälle", "CreateSession", "Session")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visa<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Aktiviteter", "Index", "Activity")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Alla tillfällen", "FilterSessions", "ActivitySummary")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Kommande tillfällen", "FilterUpcomingSessions", "ActivitySummary")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Personal", "Index", "Participant")</li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistik<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Per år", "YearlyStatistics", "Statistic")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Per etikett", "FilterSessionsForTag", "Statistic")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Per omdöme", "RatingStatistics", "Statistic")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Personal", "Index", "Admin")</li>
        </ul>
    </li>
}
else if (User.IsInRole("User"))
{
    //SHOW PARTICIPANT MENU
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visa<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Min sida", "Details", "Participant")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Kommande tillfällen", "FilterUpcomingSessions", "ActivitySummary")</li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistik<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Per år", "YearlyStatistics", "Statistic")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Per etikett", "FilterSessionsForTag", "Statistic")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Per omdöme", "RatingStatistics", "Statistic")</li>
        </ul>
    </li>
}
else
{
}
