@model Its.Systems.HR.Interface.Web.ViewModels.IndexActivityViewModel
@{
    ViewBag.Title = "Visa aktiviteter";
}

<h2>Visa aktiviteter</h2>
<h4>Aktiviteter samlar tillfällen under sig. Exempelvis är JavaOne en aktivitet som har tillfällen för åren 2014, 2015 osv. Klicka på en aktivitet för att visa dess tillfällen.</h4>
<hr />
@using (Html.BeginForm("ActivityIndex", "Activity", FormMethod.Get))
{
    <div class="well">
        <label for="searchString">Filtrera aktiviteter:</label>
        <div class="form-inline">
            <div class="form-group">
                @Html.TextBox("searchString", null, new {@class = "form-control"})
            </div>
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> Filtrera
            </button>
        </div>
        @*<a href="@Url.Action("Index")" class="btn btn-danger">Återställ</a>*@
    </div>
}
<table id="listActivitiesTable" class="tablesorter table table-hover">
    <thead>
    <tr>
        <th>
            Namn
        </th>
        <th>
            Antal tillfällen
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var activity in Model.Activities)
    {
        <tr>
            <td>
                @*@Html.ActionLink(@item.Name, "FilterSessions", "ActivitySummary", new { SearchString = item.Name }, null)*@
                @Html.ActionLink(activity.Name, "AllSessionsForActivity", "ActivitySummary", new {id = activity.ActivityId }, null)
            </td>
            <td>
                @activity.SessionCount
            </td>
            <td>
                <a href="@Url.Action("EditActivity", new {id = activity.ActivityId})">Ändra aktivitet</a>&nbsp;|
                <a href="#" class="js-delete-activity" data-activityId="@activity.ActivityId">Ta bort</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/App/HRHelpers.js"></script>
    <script src="~/Scripts/App/ActivityIndex.js"></script>
}