@model Its.Systems.HR.Interface.Web.ViewModels.CreateSessionViewModel

@{
    ViewBag.Title = "Skapa nytt tillfälle";
}

<h2>Skapa tillfälle</h2>
<h4>Skapa ett nytt tillfälle till en aktivitet. Deltagare kan också läggas till efter att tillfället är skapat!</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label for="Activity_Id" class="control-label">Tillfälle för aktivitet</label>
        <div>
            @Html.DropDownListFor(n => n.Activity.Id, (IEnumerable<SelectListItem>)ViewBag.ActivityId, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Activity.Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        <div>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Exempel: 2017" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate)
        <div class='input-group date' id='datetimepicker1'>
            @*<input type='text' class="form-control"/>*@
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate)
        <div class='input-group date' id='datetimepicker2'>
            @*<input type='text' class="form-control"/>*@
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <label for="NameOfLocation">Plats</label>
        <div>
            @*@Html.TextBoxFor(n => n.NameOfLocation, new { @class = "form-control ui-autocomplete", @data-autocomplete = "@Url.Action("AutoCompleteLocations", "Home")" })*@
            <input type="text" id="NameOfLocation" name="NameOfLocation" class="form-control ui-autocomplete"
                   data-autocomplete="@Url.Action("AutoCompleteLocations", "Home")" />
            @*@Html.ValidationMessageFor(model => model.NameOfLocation.Id, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <label for="HrPerson_Id">Ansvarig HR</label>
        <div>
            @Html.DropDownListFor(n => n.HrPerson, (IEnumerable<SelectListItem>)ViewBag.HrPersonId, "-- Ingen ansvarig HR --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HrPerson, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <label for="tagsInput">Etiketter</label>
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" id="tagsInput" name="tagsInput" class="form-control" />
                </div>
                <button type="button" class="btn btn-default js-add-tag">Lägg till</button>
            </div>
            <div id="selectedTags">
                @Html.HiddenFor(n => n.AddedTags)
            </div>
        </div>

        <div class="form-group">
            <label for="Participant_Id">Lägg till deltagare</label>
            <div>
                @Html.DropDownListFor(n => n.SessionParticipants.First().Participant.Id, (IEnumerable<SelectListItem>)ViewBag.SessionParticipantId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SessionParticipants.First().Participant.Id, "", new { @class = "text-danger" })
                <button type="button" class="btn btn-default js-add-participantBeforeSessionExists">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lägg till deltagare
                </button>
            </div>
        </div>

        <div>
            <div></div>
            <ul id="selectedParticipants">
                @Html.HiddenFor(n => n.AddedParticipants)
            </ul>
        </div>

        <div class="form-group">
            <div class="m-t-50">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-ok"></i> Skapa tillfället
                </button>
                @*<a href="@Url.Action("Index")" class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i> Avbryt
                    </a>*@
            </div>
        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    @*<script src="~/Scripts/moment.min.js"></script>*@
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function () {

            // Init Bootstrap 3 datepickers (addon)
            //moment.locale('sv');
            $('#datetimepicker1').datetimepicker({
                locale: 'sv'
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'sv'
            });


            // Array holding participants added "on-the-fly"
            var listOfParticiantsThatParticipated = [];

            $('.js-add-participantBeforeSessionExists').on('click', function (e) {
                var link = $(e.target);
                var resultName = $('#Participant_Id :selected').text();
                var resultId = $('#Participant_Id').val();

                if ($.inArray(resultId, listOfParticiantsThatParticipated) > -1) {

                    link.after(' <span class="alert alert-danger js-fadeOutThisMessage" role="alert">Redan tillagd!</span>');
                    $(".js-fadeOutThisMessage").fadeOut(2000, function () {
                        $(this).remove();
                    });
                    return;
                }

                listOfParticiantsThatParticipated.push(resultId);
                $('#AddedParticipants').val(listOfParticiantsThatParticipated);

                var html = '<li data-personId="' +
                    resultId +
                    '"><span class="listedParticipantLink">' +
                    resultName +
                    '</span><span> </span><span class="badge js-remove-participantBeforeSessionExists listedParticipantRemove"> x </span></li>';
                $(html).hide().appendTo("#selectedParticipants").fadeIn();

                //console.log(listOfParticiantsThatParticipated);
            });

            $('body').on('click', '.js-remove-participantBeforeSessionExists', function (e) {

                var link = $(e.target);
                // get parent li data-personId
                var resultId = link.parents("li").attr("data-personId");

                var index = listOfParticiantsThatParticipated.indexOf(resultId);
                if (index > -1) {
                    listOfParticiantsThatParticipated.splice(index, 1);
                    $('#AddedParticipants').val(listOfParticiantsThatParticipated);

                    link.parents("li")
                                    .fadeOut(function () {
                                        $(this).remove();
                                    });
                }
                //$('#Participant_Id option[value="' + resultId + '"]').remove();

                //var currentVal = $('#AddedParticipants').val();
                //if (currentVal === "")
                //    $('#AddedParticipants').val(resultId);
                //else
                //    $('#AddedParticipants').val(currentVal + ',' + resultId);

                //console.log(listOfParticiantsThatParticipated);
            });

            $('body').on('click', '.listedParticipantLink', function (e) {

                var link = $(e.target);
                // get parent li data-personId
                var resultId = link.parents("li").attr("data-personId");

                var url = "@Url.Action("Details", "Participant")" + "/" + resultId;
                window.open(
                          url,
                          "_blank"
                        );
            });


            // Tags
            // Array holding tags
            var listOfAddedTags = [];

            $('.js-add-tag').on('click', function (e) {
                var link = $(e.target);
                var addedTag = $("#tagsInput").val();

                if ($.inArray(addedTag, listOfAddedTags) > -1) {

                    link.after(' <span class="alert alert-danger js-fadeOutThisMessage" role="alert">Redan tillagd!</span>');
                    $(".js-fadeOutThisMessage").fadeOut(2000, function () {
                        $(this).remove();
                    });
                    return;
                }

                listOfAddedTags.push(addedTag);
                $('#AddedTags').val(listOfAddedTags);

                var html = '<span data-tagName="' +
                    addedTag +
                    '" class="label label-primary js-remove-tag">' +
                    addedTag +
                    '&nbsp;<span class="glyphicon glyphicon-remove"></span></span>';
                $(html).hide().appendTo("#selectedTags").fadeIn();

                $("#tagsInput").val("");
            });

            $('body').on('click', '.js-remove-tag', function (e) {

                var link = $(e.target);
                // get parent li data-personId
                var resultTagName = link.attr("data-tagName");

                var index = listOfAddedTags.indexOf(resultTagName);
                if (index > -1) {
                    listOfAddedTags.splice(index, 1);
                    $('#AddedTags').val(listOfAddedTags);

                    link.fadeOut(function () {
                                        $(this).remove();
                                    });
                }
            });


            // AUTOCOMPLETE
            // submits form upon selecting a value
            var submitAutocompleteForm = function (event, ui) {
                var $input = $(this); // the HTML element (Textbox)

                // selected value
                $input.val(ui.item.label); // ui.item.label = the label value (product)

                window.location.href = "/Product/Details?id=" + ui.item.label;
            };

            var createAutocomplete = function () {
                var $input = $(this); // the HTML element (Textbox)

                var options = {
                    // selecting the source by finding elements with the 'data-' attribute
                    source: $input.attr("data-autocomplete") // Required
                    //select: submitAutocompleteForm // Optional
                };

                // apply options
                $input.autocomplete(options);
            };

            // targets input elements with the 'data-' attributes and each time the input changes
            // it calls the 'createAutocomplete' function
            $("input[data-autocomplete]").each(createAutocomplete);

        });
    </script>



}
