@model Its.Systems.HR.Interface.Web.ViewModels.EditSessionViewModel

@{
    ViewBag.Title = "Ändra tillfälle";
}

<h2>Ändra tillfälle</h2>
<h4><em>@Model.NameOfSession</em></h4>
<hr />

@using (Html.BeginForm("EditSession", "Activity", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(n => n.SessionId)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label for="Activity_Id" class="control-label">Tillfälle för aktivitet</label>
        <div>
            @Html.DropDownListFor(n => n.Activity.Id, (IEnumerable<SelectListItem>)ViewBag.ActivityId, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Activity.Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NameOfSession)
        <div>
            @Html.EditorFor(model => model.NameOfSession, new { htmlAttributes = new { @class = "form-control", placeholder = "Exempel: 2017" } })
            @Html.ValidationMessageFor(model => model.NameOfSession, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate)
        <div class='input-group date' id='datetimepicker1'>
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate)
        <div class='input-group date' id='datetimepicker2'>
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <label for="NameOfLocation">Plats</label>
        <div>
            <input type="text" id="NameOfLocation" name="NameOfLocation" value="@ViewBag.NameOfLocation" class="form-control ui-autocomplete"
                   data-autocomplete="@Url.Action("AutoCompleteLocations", "Activity")" />
            @*@Html.ValidationMessageFor(model => model.NameOfLocation.Id, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <label for="HrPerson_Id">Ansvarig HR</label>
        <div>
            @Html.DropDownListFor(n => n.HrPerson, (IEnumerable<SelectListItem>)ViewBag.HrPersonId, "-- Ingen ansvarig HR --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HrPerson, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="tagsInput">Etiketter</label>
        <div class="form-inline">
            <div class="form-group">
                <input type="text" id="tagsInput" name="tagsInput" class="form-control" />
            </div>
            <button type="button" class="btn btn-default js-add-tag-edit-session" data-sessionId="@Model.SessionId">Lägg till</button>
        </div>
        <div id="selectedTags">
            @foreach (var tag in Model.AddedTags)
            {
                <span data-tagId="@tag.Id" data-sessionId="@Model.SessionId" class="label label-primary js-remove-tag-edit-session">
                    @tag.Name&nbsp;<span class="glyphicon glyphicon-remove"></span>
                </span>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="m-t-50">
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-ok"></i> Ändra tillfälle
            </button>
            @*<a href="@Url.Action("Index")" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove"></i> Avbryt
                </a>*@
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    @*<script src="~/Scripts/moment.min.js"></script>*@
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    
    <script src="~/Scripts/App/HrHelpers.js"></script>
    <script src="~/Scripts/App/EditSession.js"></script>
}
