@model Its.Systems.HR.Interface.Web.ViewModels.FilterSessionsViewModel

@{
    ViewBag.Title = "FilterSessions";
}

<h2>Filtrera kurstillfällen <span class="badge">DEBUG</span></h2>

@using (Html.BeginForm("FilterSessions", "Activity", FormMethod.Get))
{
    <div class="well-lg">

        <div class="form-group">
            <label for="SearchString">Namn på kurstillfälle</label>
            <div>
                @Html.TextBox("SearchString", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label>År</label>
            <div>
                <input name="yearSlider" id="yearSlider" type="text" class="" value="" data-slider-min="2011" data-slider-max="2017" data-slider-step="1" data-slider-value="[2011,2017]" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="HrPerson">Ansvarig HR</label>
            <div>
                @Html.DropDownListFor(n => n.HrPerson, Model.HrPersons, new { @class = "form-control" })
                @*@Html.DropDownListFor(n => n.Activities, Model.Activities, new { @class = "form-control wide-textbox", onchange = "javascript:getSessions(this.value);", id = "activityDropdown" })*@
            </div>
        </div>
        
        <div id="exampleWithSlider"></div>

        @*<a href="@Url.Action("Index")" class="btn btn-danger">Återställ</a>*@

        <div class="form-group">
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> Filtrera
            </button>
            @*<a href="@Url.Action("Index")" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove"></i> Avbryt
                </a>*@
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>Namn</th>
        <th>Start</th>
        <th>Slut</th>
        <th>Hr-Person</th>
        <th>Plats</th>
    </tr>

    @foreach (var session in Model.Sessions)
    {
        <tr>
            <td>
                @session.Name
            </td>
            <td>
                @session.StartDate.ToString("dd MMM yyyy HH:mm")
            </td>
            <td>
                @session.EndDate.ToString("dd MMM yyyy HH:mm")
            </td>
            <td>
                @session.HrPerson.FullName
            </td>
            <td>
                @session.Location.Name
            </td>
        </tr>
    }

</table>

@section scripts {

    <script src="~/Scripts/bootstrap-slider.min.js"></script>
    <script>
        $(document)
            .ready(function() {
                    $("#yearSlider")
                        .slider({
                            tooltip: 'always'
                        });


                    //$("#yearSlider").on("slide", function (slideEvt) {
                    //    $("#exampleWithSlider").text(slideEvt.value);
                    //});
            });
    </script>
}