@model List<Its.Systems.HR.Interface.Web.ViewModels.ActivityViewModel>
@*@using PagedList.Mvc;*@

@*@model IPagedList<ContosoUniversity.Models.Student>*@
@*@using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "Aktiviteter";
}

<h2>Lista aktiviteter</h2>
<h4>Listar alla skapade aktiviteter, klicka på en aktivitet för att visa dess tillfällen.</h4>
@using (Html.BeginForm("Index", "Activity", FormMethod.Get))
{
    <div class="well-lg">
        <label for="searchString">Filtrera aktiviteter på namn:</label>
        <div class="form-inline">
            <div class="form-group">
                @Html.TextBox("searchString", null, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-default">Filtrera!</button>
        </div>

        @*<a href="@Url.Action("Index")" class="btn btn-danger">Återställ</a>*@
    </div>
}
<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("Namn", "Index", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.CurrentSearchString })
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.ActionLink(@item.Name, "FilterSessions", "ActivitySummary", new { SearchString = item.Name }, null)*@
                @Html.ActionLink(@item.Name, "AllSessionsForActivity", "ActivitySummary", new { id = item.Id }, null)
            </td>

            <td>
                <a href="@Url.Action("EditActivity", new {id = item.Id})">Ändra tillfälle</a>&nbsp;|
                <a href="#" class="js-delete-activity" data-activityId="@item.Id">Ta bort</a>
            </td>
        </tr>
    }

</table>

@section scripts {
    <script src="~/Scripts/App/HrHelpers.js"></script>
    <script src="~/Scripts/App/ActivityIndex.js"></script>
}