@model List<Its.Systems.HR.Interface.Web.ViewModels.ListActivitiesViewModel>
@*@using PagedList.Mvc;*@

@*@model IPagedList<ContosoUniversity.Models.Student>*@
@*@using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "Aktiviteter";
}

<h2>Lista på alla skapade aktiviteter</h2>

@using (Html.BeginForm("Index", "Activity", FormMethod.Get))
{
    <div class="well-lg">
        <label for="SearchString">Filtrera aktiviteter på namn:</label>
        <div class="form-inline">
            <div class="form-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-default">Filtrera!</button>
        </div>

        @*<a href="@Url.Action("Index")" class="btn btn-danger">Återställ</a>*@
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Namn", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Name)*@
                @Html.ActionLink(@item.Name, "FilterSessions", "Activity", new { SearchString = item.Name },null)
            </td>

            <td>
                @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
                <a href="#" class="js-delete-activity" data-activityId="@item.Id">Ta bort</a>
            </td>
        </tr>
    }

</table>
<br />

@section scripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>

        $(document)
            .ready(function () {

                // submits form upon selecting a value
                var submitAutocompleteForm = function (event, ui) {
                    var $input = $(this); // the HTML element (Textbox)

                    // selected value
                    $input.val(ui.item.label); // ui.item.label = the label value (product)

                    window.location.href = "/Product/Details?id=" + ui.item.label;
                };

                var createAutocomplete = function () {
                    var $input = $(this); // the HTML element (Textbox)

                    var options = {
                        // selecting the source by finding elements with the 'data-' attribute
                        source: $input.attr("data-autocomplete") // Required
                        //select: submitAutocompleteForm // Optional
                    };

                    // apply options
                    $input.autocomplete(options);
                };

                // targets input elements with the 'data-' attributes and each time the input changes
                // it calls the 'createAutocomplete' function
                $("input[data-autocomplete]").each(createAutocomplete);


                $("body").on("click", ".js-delete-activity", function (e) {
                    e.preventDefault();
                    var link = $(e.target);

                    bootbox.confirm({
                        title: "Vänligen bekräfta",
                        message: "Vill du verkligen ta bort den här aktiviteten?",
                        buttons: {
                            cancel: {
                                label: '<i class="glyphicon glyphicon-remove"></i> Avbryt'
                            },
                            confirm: {
                                label: '<i class="glyphicon glyphicon-ok"></i> Ta bort',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: "@Url.Action("DeleteActivity", "Activity")",
                                    type: "POST",
                                    data: { activityId: link.attr("data-activityId") },
                                    success: function () {
                                        link.parents("tr")
                                            .fadeOut(function () {
                                                $(this).remove();
                                            });
                                    },
                                    error: function () {
                                        alert("Anropet misslyckades, prova gärna igen.");
                                    }
                                });
                            }
                        }
                    });

                });

            });
    </script>
}