@model Its.Systems.HR.Interface.Web.ViewModels.ParticipantSummaryViewModel

@{
    ViewBag.Title = "Översikt person";
}

<h2>@Model.FullName</h2>

<div class="row">
    <div class="col-md-7">
        <h3 class="m-b-30">Deltagit på följande tillfällen</h3>

        <table class="table" id="allSessionsForParticipant">

            @foreach (var year in Model.Years)
            {

                <tr><td>@year</td></tr>

                foreach (var session in Model.Sessions.Where(n => n.StartDate != null))
                {
                    if (session.StartDate?.Year == year)
                    {

                        <tr>
                            <td>
                                <a href="@Url.Action("SessionForActivity", "ActivitySummary", new {id = session.Id})">@session.NameWithActivity</a>
                                @if (session.StartDate != null)
                                {
                                    <span> (@session.StartDate.Value.ToShortDateString())</span>
                                }
                                <span class="label label-warning listedParticipantRemove js-delete-sessionParticipant" data-sessionId="@session.Id" data-personId="@Model.PersonId">Ta bort</span>
                            </td>
                        </tr>
                    }
                }

            }

            @if (Model.Sessions.Count(n => n.StartDate == null) > 0)
            {
                <tr><td>Ospecificerat år</td></tr>
            }
            @foreach (var sessionWithNullStartYear in Model.Sessions.Where(n => n.StartDate == null))
            {
                <tr>
                    <td>
                        <a href="@Url.Action("SessionForActivity", "ActivitySummary", new {id = sessionWithNullStartYear.Id})">@sessionWithNullStartYear.NameWithActivity</a>
                        @if (sessionWithNullStartYear.StartDate != null)
                        {
                            <span> (@sessionWithNullStartYear.StartDate.Value.ToShortDateString())</span>
                        }
                        <span class="label label-warning listedParticipantRemove js-delete-sessionParticipant" data-sessionId="@sessionWithNullStartYear.Id" data-personId="@Model.PersonId">Ta bort</span>
                    </td>
                </tr>

            }
        </table>


        <div id="statisticsSummary">
            @Html.Action("ParticipantStatisticSummary", new { personId = Model.PersonId })
        </div>

        @using (Html.BeginForm("AddPersonToSession", "Session"))
        {
            @Html.HiddenFor(n => n.PersonId)
            <div class="m-t-30">
                @Html.DropDownListFor(n => n.Sessions.First().Id, Model.AllSessions, new { @class = "form-control wide-textbox" })
                @*@Html.ValidationMessageFor(model => model.Sessions, "", new { @class = "text-danger" })*@
                <button class="btn btn-default js-add-sessionParticipant" data-personId="@Model.PersonId">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lägg till tillfälle för person
                </button>
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <span class="alert alert-danger" id="errorMessage">
                        @ViewBag.Error
                    </span>
                }
            </div>
        }
    </div>
    <div class="col-md-5">
        <h3 class="m-b-30">Allmän information</h3>
        <div>
            <div class="form-group">
                <label for="Comments" class="control-label">Kommentarer</label>
                @*@using (Html.BeginForm("SaveComments", "Participant", routeValues: new { personId = Model.PersonId }, method: FormMethod.Post))
                    {*@
                <div>
                    @Html.TextAreaFor(n => n.Comments, 10, 40, new { @class = "form-control commentsWishes" })
                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    <button type="button" class="btn btn-default js-save-participantComment" data-personId="@Model.PersonId">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Spara kommentar
                    </button>
                </div>
                @*}*@
            </div>

            <div class="form-group">
                <label for="Wishes" class="control-label">Önskemål</label>
                @*@using (Html.BeginForm("SaveWishes", "Participant", routeValues: new { personId = Model.PersonId }, method: FormMethod.Post))
                    {*@
                <div>
                    @Html.TextAreaFor(n => n.Wishes, 10, 40, new { @class = "form-control commentsWishes" })
                    @Html.ValidationMessageFor(model => model.Wishes, "", new { @class = "text-danger" })
                    <button type="button" class="btn btn-default js-save-participantWish" data-personId="@Model.PersonId">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Spara önskemål
                    </button>
                </div>
                @*}*@
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/App/HRHelpers.js"></script>
    <script src="~/Scripts/App/ParticipantDetails.js"></script>
}