@model Its.Systems.HR.Interface.Web.ViewModels.IndexParticipantViewModel

@{
    ViewBag.Title = "Visa personal";
}

<h2>Visa personal</h2>
<h4>Klicka på ett namn för att se en sammanfattning för personen.</h4>
<hr />
@using (Html.BeginForm("Index", "Participant", FormMethod.Get))
{
    <div class="well">
        <label for="searchString">Filtrera personal:</label>
        <div class="form-inline">
            <div class="form-group">
                @Html.TextBox("searchString", null, new { @class = "form-control" })
            </div>
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> Filtrera
            </button>
        </div>
        @*<a href="@Url.Action("Index")" class="btn btn-danger">Återställ</a>*@
    </div>
}
<table id="listParticipantsTable" class="tablesorter table table-hover">
    <thead>
    <tr>
        <th>
            Namn
        </th>
        <th>
            Tillfällen
        </th>
        <th>
            CasID
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Participants)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "Details", new {id = item.ParticipantId})
            </td>
            <td>
                @item.CountOfSessions
            </td>
            <td>
                @item.CasID
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/App/HRHelpers.js"></script>
    <script src="~/Scripts/App/ParticipantIndex.js"></script>
}