@model Its.Systems.HR.Interface.Web.ViewModels.ReviewSessionViewModel

@{
    ViewBag.Title = "Recensera tillfälle";
}

<h2>Recensera ett kurstillfälle <span class="label label-info">DEBUG</span></h2>

<div class="alert alert-info">Fejkinloggad som @Model.ParticipantName</div>

<h4>Recensera tillfället: <strong>@Model.SessionName</strong></h4>

@using (Html.BeginForm("ReviewSession", "Participant", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(n => n.SessionId)
    @Html.HiddenFor(n => n.SessionName)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Rating)
        <div>
            @*@Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control", placeholder = "1-5" } })*@
            <input name="Rating" id="Rating" type="text" class="" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="@Model.Rating" />
            @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comments)
        <div>
            @Html.TextAreaFor(n => n.Comments, 10, 40, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="m-t-50">
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-ok"></i> Recensera tillfälle
            </button>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap-slider.min.js"></script>

    <script src="~/Scripts/App/HrHelpers.js"></script>
    <script>
        $(document).ready(function () {

            // INIT BOOTSTRAPSLIDER
            $("#Rating").bootstrapSlider({
                tooltip: "always"
            });

        });
    </script>
}