@model Its.Systems.HR.Interface.Web.ViewModels.Statistic.SessionTagsViewModel

@{
    ViewBag.Title = "Statistik per etikett";
}
<h2>Statistik per etikett</h2>
<h4>Välj en etikett i listan för att se sammanfattande statistik för tillfällen med den etiketten.</h4>
<hr />

@using (Html.BeginForm("FilterSessionsForTag", "Statistic", FormMethod.Get))
{
    <div class="form-group well">
        <label for="Tags">Etikett</label>
        <div class="form-inline">
            <div class="form-group">
                @Html.DropDownList("taglist", Model.Tags, Model.tagName, new { @class = "form-control", name = "taglist" })
            </div>
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> Filtrera
            </button>
        </div>
    </div>
}

@if (Model.Sessions != null)
{
    <div class="col-md-6">
        <table class="tablesorter table table-hover" id="sessionsTag">
            <thead>
                <tr>
                    <th>
                        Namn på aktivitet och tillfälle
                    </th>
                    <th>
                        Startar
                    </th>
                    <th>
                        Slutar
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sessions)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.NameWithActivity, "SessionForActivity", "ActivitySummary", new { id = item.Id }, null)
                            @* <p>@Html.ActionLink(item.Session.NameWithActivity, "SessionForActivity", "ActivitySummary", new { id = item.Session.Id }, null)</p>*@
                        </td>
                        <td>
                            @if (item.StartDate != null)
                            {
                                @item.StartDate.Value.ToString("yyyy-MM-dd")
                            }
                        </td>
                        <td>
                            @if (item.EndDate != null)
                            {
                                @item.EndDate.Value.ToString("yyyy-MM-dd")
                            }
                        </td>
                    </tr>
                }
            <tbody>
        </table>
    </div>
    <div clasS="col-md-6">
        <h3>
            Sammanställning för <span class="label label-info">@Model.tagName</span>
        </h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Totalt antal tillfällen: @Model.TotalSessions</h4>
                <h4>Totalt antal deltagare: @Model.TotalParticipants</h4>
            </div>
        </div>
    </div>
}

@section scripts {

    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/App/HrHelpers.js"></script>
    <script src="~/Scripts/App/FilterSessionsForTag.js"></script>
}