@model Its.Systems.HR.Interface.Web.ViewModels.SessionSummaryStatisticsViewModel
@{
    ViewBag.Title = "Statistik per år";
}
<h2>Statistik per år</h2>
<h4>Välj ett år i listan för att se sammanfattande statistik för det årets tillfällen.</h4>
<hr />
@using (Html.BeginForm("YearlyStatistics", "Statistic", FormMethod.Post))
{
    <div class="form-group well">
        <label for="yearslist">År</label>
        <div class="form-inline">
            <div class="form-group">
                @Html.DropDownList("yearslist", new SelectList(Enumerable.Range(2011, DateTime.Now.Year - 2010)), "-- Alla år --", new { @class = "form-control", name = "yearslist" })
            </div>
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> Filtrera
            </button>
        </div>
    </div>
}
<div class="col-md-6">

    @if (Model.SessionStatisticsRows != null)
    {
        <table class="tablesorter table table-hover" id="SessionsForYear">
            <thead>
                <tr>
                    <th>
                        Namn på aktivitet och tillfälle
                    </th>
                    <th>
                        Antal Deltagare
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SessionStatisticsRows)
                {
                    <tr>
                        <td>
                            <p>@Html.ActionLink(item.Session.NameWithActivity, "SessionForActivity", "ActivitySummary", new { id = item.Session.Id }, null)</p>
                        </td>
                        <td>
                            <p align="right">@item.NumberOfParticipants</p>

                        </td>
                    </tr>
                }
            <tbody>
        </table>
    }
</div>

<div class="col-md-6" id="totDeltagare">
    <h3>
        Sammanställning för <strong>
            @if (Model.SelectedYear == 0)
            {
                <text>samtliga år</text>
            }
            else
            {
                @Model.SelectedYear
            }
        </strong>
    </h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Totalt antal tillfällen: @Model.TotalSessions</h4>
            <h4>Totalt antal deltagare: @Model.TotalPaticipants</h4>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/App/HrHelpers.js"></script>
    <script src="~/Scripts/App/YearlyStatistics.js"></script>
}