@model Its.Systems.HR.Interface.Web.ViewModels.SessionSummaryStatisticsViewModel
@{
    ViewBag.Title = "SessionSummaryStatistics";

}

<div class="col-md-6">
    
    @using (Html.BeginForm("YearlyStatistics", "Statistic", FormMethod.Post))
    {
        <div class="form-group">
            <h2 class="m-b-30"></h2>
            <label for="Activity">Aktiviteter</label>
            @Html.DropDownList("yearslist", new SelectList(Enumerable.Range(2010, 140).ToList()), "-- Select Year --", new {name = "yearslist"})

            <button type="submit" class="btn btn-default">Filtrera!</button>
        </div>


    }
    
    @if (@Model.SessionStatisticsRows != null)

    {

        <table class="table" id="sessionsinyear">
            @foreach (var item in Model.SessionStatisticsRows)
            {
                <tr>
                    <td>
                        <p>@Html.ActionLink(@item.Session.Name, "SessionForActivity", "ActivitySummary", new { id = item.Session.Id }, null) @item.NumberOfParticipants Deltagare</p>
                    </td>


                </tr>
            }
        </table>

        <em>Totalt antal deltagare: @Model.TotalPaticipants, Totalt antal activiteter: @Model.TotalSessions</em>

    }


    
    

</div>