@model Its.Systems.HR.Interface.Web.ViewModels.SessionSummaryStatisticsViewModel
@{
    ViewBag.Title = "SessionSummaryStatistics";
}

<div class="col-md-6">

    @using (Html.BeginForm("YearlyStatistics", "Statistic", FormMethod.Post))
    {
        <div class="form-group">
            <h2 class="m-b-30"></h2>
            <label for="Activity">Aktiviteter</label>

            @Html.DropDownList("yearslist", new SelectList(Enumerable.Range(2011, DateTime.Now.Year - 2010)), "-- Välj år --", new {@class="form-control", name = "yearslist"})

            <button type="submit" class="btn btn-default">Filtrera!</button>
        </div>
    }

    @if (Model.SessionStatisticsRows != null)

    {
        
            <table class="tablesorter table table-hover" id="SessionsForYear">
                <thead>
                <tr>
                    <th>
                        Aktivitet och Namn
                    </th>
                    <th>
                        <span>Antal Deltagare</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SessionStatisticsRows)
                    {
                        <tr>
                            <td>
                                <p>@Html.ActionLink(item.Session.NameWithActivity, "SessionForActivity", "ActivitySummary", new { id = item.Session.Id }, null)</p>
                            </td>
                            <td>
                                <p align="right">@item.NumberOfParticipants</p>

                            </td>
                        </tr>
                    }
                <tbody>
     </table>
    }


</div>

<div class="col-md-5" id="totDeltagare">
    <p align="right">

        <h3 class="m-b-30">
            <em>Totalt antal deltagare: @Model.TotalPaticipants</em><br/>

            <em>Totalt antal activiteter: @Model.TotalSessions</em>

        </h3>
    </p>


</div>

@section scripts {

    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/App/HrHelpers.js"></script>
    <script src="~/Scripts/App/YearlyStatistics.js"></script>
}