@model Its.Systems.HR.Interface.Web.ViewModels.IndexParticipantViewModel

@{
    ViewBag.Title = "Administrera personal";
}

<h2>Administrera personal</h2>
<h4>Här kan du som administratör välja vilka andra i personalen som ska klassas som administratörer (HR-personer). Vidare kan man välja att sätta en person som "raderad", vilket innebär att denna person inte visas i statistiken eller någon annanstans i applikationen. Det går dock närsomhelst att ångra detta genom att avmarkera kryssrutan. Personens status som aktiv eller inte uppdateras automatiskt mot UmU WebApi:et.</h4>
<hr />
@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <div class="well">
        <label for="searchString">Filtrera personal:</label>
        <div class="form-inline">
            <div class="form-group">
                @Html.TextBox("searchString", null, new { @class = "form-control" })
            </div>
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> Filtrera
            </button>
        </div>
        @*<a href="@Url.Action("Index")" class="btn btn-danger">Återställ</a>*@
    </div>
}
<table id="listParticipantsTable" class="tablesorter table table-hover">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Email
            </th>
            <th>
                Tillfällen
            </th>
            <th>
                Aktiv?
            </th>

            <th>
                HrPerson?
            </th>

            <th>
                Raderad?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Participants)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.FullName, "Details", "Participant", new { id = item.ParticipantId }, null)
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.CountOfSessions
                </td>
                <td>
                    @Html.CheckBoxFor(n => item.IsActiv, new { disabled = "true" })
                </td>
                <td>
                    @Html.CheckBoxFor(n => item.IsHrPerson, new { data_participantId = item.ParticipantId, @class = "checkbox js-update-isHrPerson" })
                </td>
                <td>
                    @Html.CheckBoxFor(n => item.IsDeleted, new { data_participantId = item.ParticipantId, @class = "checkbox js-update-isDeleted" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {

    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/App/HRHelpers.js"></script>
    <script src="~/Scripts/App/AdminIndex.js"></script>
}
